.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-between;
  background-color: rgb(230, 230, 230, 0.95);
  box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.45);
  color: #06d6a0;
  width: 30%;
  max-width: 30%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Architects Daughter", sans-serif;
}

.footer__icons a {
  padding: 0 0.5em;
}
.footer__icons {
  display: flex;
  justify-content: center;
}

.footer__icons a,
.footer__icons i {
  text-decoration: none;
  color: #118ab2;
}

.footer__name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  padding: 0 5em;
}
