/* html {
  background: url("../images/cutting-board.jpeg") no-repeat center center fixed;
  background-size: cover;
} */

.profile__user--div {
  display: flex;
  flex-direction: column;
  margin: 1em;
  position: absolute;
}

.profile__user--name {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.profile__user--img {
  border-radius: 50%;
  max-height: 5em;
  max-width: 5em;
  /* margin: 1em; */
}

.profile__recipeBox--card {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 2rem;
  /* max-width: 100%; */
}

.profile__recipeBox {
  margin-top: 2em;
  display: flex;
  align-items: center;
  max-width: 80%;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2em 0.5em;
  border-radius: 8px;
}
.profile__recipeCard {
  display: flex;
  max-width: 100%;
  justify-content: center;
}

.profile__recipeBox--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__recipeBox--label {
  text-align: center;
  font-family: "Architects Daughter", sans-serif;
  font-size: 3em;
  margin: 0.5em 0;
  color: #073b4c;
  width: max-content;
  align-self: center;
}
