.login__form {
  max-width: 100%;
  max-height: 100%;
  font-family: "Montserrat Alternates", sans-serif;
  display: flex;
  flex-direction: column;
  color: #073b4c;
  padding: 1em;
  border-radius: 8px;
  background-color: rgba(255, 209, 102, 0.9);
  /* background-color: rgba(6, 214, 160, 0.85); */
}

.login__form fieldset {
  border-radius: 8px;
}

.login__form legend {
  font-size: 2em;
}
.login__form input {
  margin: 0.5em;
  padding: 0.75em;
  width: 15em;
}

.login__form div {
  margin-bottom: 1em;
}

.login__form label {
  display: inline-block;
  width: 5em;
  text-align: center;
}
#login__button--div {
  display: flex;
  justify-content: center;
}
.login__form button {
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  width: 50%;
  font-size: 1em;
}

.login__form--error {
  color: red;
  font-size: 0.75em;
  margin: 0.5em;
}
