.searchCard__container {
  background-color: rgb(245, 234, 212);
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  padding: 1em;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: auto;
}

.searchCard__title {
  font-size: 1.5em;
  /* padding-top: 0.5em; */
  /* margin-bottom: 0.5em; */
  text-align: center;
}

/*************************Images******************************/

.searchCard__image--container {
  display: flex;
  max-width: 100%;
  align-content: center;
}
.searchCard__image {
  /* width: 40%;
  max-width: 50%; */
  max-width: 100%;
  max-height: 100%;
}

.searchCard__navlink {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
