html {
  background: url("../images/pexels-karolina-grabowska-4199098.jpeg") no-repeat
    center center fixed;
  background-size: cover;
}

.splash__container {
  display: flex;
  flex-direction: column;
}

.splash__title {
  font-family: "Architects Daughter", cursive;
  font-size: 8em;
  align-self: center;
  text-align: center;
  margin-top: 1.5em;
  width: fit-content;
  color: #073b4c;
}

.splash__tagline {
  font-family: "Architects Daughter", cursive;
  margin-top: 0.5em;
  font-size: 2em;
  align-self: center;
  text-align: center;
  color: #073b4c;
}
