#modal {
  position: fixed;
  top: 20em;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(255, 255, 255, 0.7); */
  /* background-color: rgba(17, 138, 178, 0.7); */
  backdrop-filter: blur(4px);
}

#modal-content {
  position: absolute;
}
